* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    margin: 50px;
    background-color: #f2f2f2;
    color: #252525;
    transition: 0.5s ease-in-out;
}

.small-txt {
    margin: 20px 0;
}

input[type="checkbox"]
{
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #434343;
    appearance: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
}

input[type="checkbox"]:checked
{
    background-color: #04ac2e;
}

input[type="checkbox"]::before
{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #f2f2f2;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 0.7s ease;
}

input[type="checkbox"]:checked::before
{
    transform: translateX(20px);
}

.dark-mode
{
    background-color: #252525;
    color: #f2f2f2;
}